<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Dashboard</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/styles-natdash.css" %}">

  </head>

  <body>
    
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		

		<!-- Side menu -->
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img src="https://www.aiesec.org.nz/images/aiesec-logo.png">
            <hr>
            <h5>AIESEC in Poland</h5>
            <p>Here you'll be able to navigate through the pages, to get to the most relevant part for you</p>
            <a href="aiesec.org"><div class="hollow button secondary">Marketing dashboard</div></a>
            <a href="aiesec.org"><div class="button">Main dashboard</div></a>
            <a href=#!><div class="button">Local dashboard</div></a>
          </div>
        </div>
 		
 		<!-- Drop-down transformation of side menu on small screens -->
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title">AIESEC in Poland</span>
            </div>
          </div>

        <!-- Header -->
          <div class="callout primary">
            <div class="row column">
              <h2>National dashboard v.0.0.1</h2>
              <p class="lead">Down here will be info, related to LC state and Customer flow.</p>
            </div>
          </div>
          
			
		<!-- Overall LC CF data, must be connected and re-worked with back-end data-->
        <table class="table-expand">
		  <thead>
		    <tr class="table-expand-row">
		      <th width="200">LC Name</th>
		      <th>Applications</th>
		      <th>Approvals</th>
		      <th class="text-right" width="150">Realisations</th>
		      <th class="text-right" width="150">Complited</th>
		      <th width="150">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr class="table-expand-row" data-open-details>
		      <td>LC Alpha</td>
		      <td>2000</td>
		      <td class="text-right">500</td>
		      <td class="text-right">500</td>
		      <td class="text-right">500</td>
		      <td>Need <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Bravo</td>
		      <td>4000</td>
		      <td class="text-right">300</td>
		      <td class="text-right">300</td>
		      <td class="text-right">300</td>
		      <td>satisfying <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Charlie</td>
		      <td>4000</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Delta</td>
		      <td>1000</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Echo</td>
		      <td>3000</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Foxtrot</td>
		      <td>1000</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td class="text-right">100</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Golf</td>
		      <td>2000</td>
		      <td class="text-right">200</td>
		      <td class="text-right">200</td>
		      <td class="text-right">200</td>
		      <td>bad <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC Hotel</td>
		      <td>5000</td>
		      <td class="text-right">500</td>
		      <td class="text-right">500</td>
		      <td class="text-right">500</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>

		    <tr class="table-expand-row" data-open-details>
		      <td>LC India</td>
		      <td>2000</td>
		      <td class="text-right">200</td>
		      <td class="text-right">200</td>
		      <td class="text-right">200</td>
		      <td>good <span class="expand-icon"></span></td>
		    </tr>

		    <tr class="table-expand-row-content">
		      <td colspan="8" class="table-expand-row-nested">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
		      </td>
		      </td>
		    </tr>



		  </tbody>
		</table>


    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
        $('[data-open-details]').on('mouseover', function (e) {
		  e.preventDefault();
		  $(this).next().toggleClass('is-active');
		  $(this).toggleClass('is-active');
		});
		$('[data-open-details]').on('mouseout', function (e) {
		  e.preventDefault();
		  $(this).next().removeClass('is-active');
		  $(this).removeClass('is-active');
		});



    </script>
  </body>
</html>